<div style="width:75%; border:1px solid #ccc;padding:30px;margin:20px;">
    <p style="font-size:130%;"><b>{{ s.from_name }}</b> has sent you an <b>Indiana Methamphetamine Clandestine Lab</b> report for the month of <b>{{ s.report_month|date:"M j, Y" }}</b></p>
<hr />
    <p style="font-size:130%;">Online report: <a href="http://{{ host }}{% url 'view_list_by_month_with_map' s.report_month.year s.report_month.month %}">{{ s.report_month|date:"M j, Y" }}</a></p>
    
    <p style="font-size:130%;">Full url: <a href="http://{{ host }}{% url 'view_list_by_month_with_map' s.report_month.year s.report_month.month %}">http://{{ host }}{% url 'view_list_by_month_with_map' s.report_month.year s.report_month.month %}</a></p>
    
<hr />

    <p><a href="http://www.in.gov/meth/index.htm"><img src="http://{{ host }}{{ STATIC_URL }}images/meth_suppression.jpg" width="100" alt="meth" /></a></p>

<hr />

(sent {% now "F jS, Y f:s a" %})
    
</div>