<ul class="pagination pagination-sm" style="padding:0;margin:0">
{% for yr in year_menu %}
  <li{% if yr.year == selected_month.year %} class="active"{% endif %}>
      <a href="{% url 'view_list_by_month_with_map' yr.year '01' %}">{{ yr.year }}</a>
  </li>
{% empty %}
  <li>No data available</li>
{% endfor %}
</ul>
<br />                          
<ul class="pagination pagination" style="padding:0;margin:0">
{% for mm in month_menu %}
    <li{% if mm == selected_month %} class="active"{% endif %}>
        <a href="{% url 'view_list_by_month_with_map' mm.year mm.month %}">{{ mm|date:"M"}}</a>
    </li>
{% empty %}
    <li>No data available</li>
{% endfor %}
</ul>
