    <style>
      #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>
var map;
function initialize() {
  // Create a simple map.
  var infowindow = new google.maps.InfoWindow();
  
  map = new google.maps.Map(document.getElementById('map-canvas'), {
    zoom: 6,
    center: {lat: 39.7683333, lng: -86.1580556}
  });

  // load geo json for the selected month
  map.data.loadGeoJson("{% url 'view_geojson_data_by_month' selected_month.year selected_month.month %}" );
  //map.data.loadGeoJson("http://127.0.0.1:8000/labs/geojson-data/{{ selected_month|date:"Y/m" }}/" );
  
  // Set event listener for each feature.
    map.data.addListener('click', function(event) {
        
        infowindow.setContent(event.feature.getProperty('address') +"<br>" +event.feature.getProperty('report_date')+"<br>");
        infowindow.setPosition(event.latLng);
        infowindow.setOptions({pixelOffset: new google.maps.Size(0,-34)});
        infowindow.open(map);
    });
  
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>